name: Kata E2E UUV CI

on:
  push:
    branches: [ "**" ]

env:
  NODE_VERSION: 22.22.0

jobs:
  test-e2e:
    runs-on: ubuntu-latest
    container:
      image: e2etesting/uuv
    environment:
      name: production
      url: https://e2e-test-quest.github.io/kata-e2e-uuv/${{ github.ref == 'refs/heads/main' && '/' || github.ref_name }}
    steps:
      - uses: actions/checkout@v4
      - name: Install Dependencies
        run: npm ci
        shell: bash
      - name: Run E2E tests
        run: npx uuv e2e --generateHtmlReport --generateJunitReport
        shell: bash
      - name: Test Report
        uses: MichaelVoelkel/test-reporter@main
        if: success() || failure()
        with:
          name: Report - E2E Tests
          path: uuv/reports/e2e/junit-report.xml
          reporter: java-junit
          fail-on-error: false
      - uses: actions/upload-artifact@v4
        if: ${{ always() }}
        with:
          name: uuv-test-report
          path: ./uuv/reports/e2e/html/
      - name: Deploy to Github page
        if: ${{ always() }}
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./uuv/reports/e2e/html/
          destination_dir: ${{ github.ref == 'refs/heads/main' && '.' || github.ref_name }}